* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-font: 'ouma-latin-variable', sans-serif;
  --secondary-font: 'loew-variable', sans-serif;
  --gray-100: #e7e7e7;
  --gray-200: #cccccc;
  --purple-500: #455482;
  --max-mobile: 360px;
  --gradient: linear-gradient(90deg,#525d7e, #f4dcf5, #455482);
  --gradient-btn: linear-gradient(90deg, #f4dcf5, #455482 90%);
}

body {
  background-color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
  font-variation-settings: 'wght' 400;
  color: var(--purple-500);
}

p,
a,
li {
  font-family: var(--secondary-font);
  color: var(--purple-500);
  font-family: 'loew-variable', sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 200, 'ital' 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--purple-500);
}

button {
  padding: 8px 16px;
  border-width: 5px;
  border-color:  transparent;
  font-family: 'loew-variable', sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
  background-color: var(--purple-500);
  transition: 800ms;

  color: white; /* Color del texto */
  padding: 10px 20px; /* Relleno */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cambiar el cursor a puntero */
  clip-path: polygon(0 0, 90% 0, 100% 30%, 100% 100%, 10% 100%, 0% 70%);

}

button:hover {
  background-color: var(--gray-200);
  transform: scale(1.1);
  clip-path: polygon(10% 0%, 100% 0, 100% 70%,  90% 100%, 0% 100%, 0% 30%);
  color: var(--purple-500);
}