.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--gray-100);

  .main__menu {
    position: absolute;
    right: -32px;
    top: 68px;
  }

  .main__gradient {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    .gradient__polyline {
      fill: none;
      stroke: url(#linear-gradient);
      stroke-miterlimit: 10;
      stroke-width: 5%;
    }
  }

  .main__title {
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 32px;
    font-family: 'ouma-latin-variable', sans-serif;
    font-variation-settings: 'wght' 400;
  }

  .main__contact {
    position: absolute;
    left: 16px;
    bottom: -20px;
    transform: rotate(-90deg);
    transform-origin: 0 0;

    .contact__item {
      display: block;
      font-family: 'loew-variable', sans-serif;
      font-variation-settings: 'wdth' 100, 'wght' 200, 'ital' 0;
    }
  }

  .main__skills {
    position: absolute;
    right: 16px;
    bottom: 16px;

    .skills__item {
      text-align: right;
      font-family: 'loew-variable', sans-serif;
      font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
    }
  }
}

@media screen and (min-width: 420px) {
  .main {
    .main__menu {
      top: 76px;
      right: -14px;

      .menu__list {
        .list__item {
          font-size: 28px;
        }
      }
    }

    .main__gradient {
      .gradient__polyline {
        stroke-width: 3%;
      }
    }

    .main__title {
      font-size: 72px;
      left: 48px;
      top: 16px;
    }

    .main__contact {
      left: 48px;

      .contact__item {
        font-size: 24px;
      }
    }

    .main__skills {
      bottom: 24px;
      right: 48px;
      .skills__item {
        font-size: 24px;
      }
    }
  }
}
